/* App Container Start */

#main {
  margin: 40px 40px;
}

/* App Container End */

/* Header Start */

h1 {
  margin-top: 30px;
  font-size: xx-large;
  text-align: center;
}

/* Header End */

/* Cat Container Start */

.cat-entry {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10px 0px;
  border-radius: 10px;
  width: 500px;
}

.cat-entry:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cat-image {
  width: 200px;
}

/* Cat Container End */

/* Form Start */

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.field-label {
  font-weight: bold;
}

li > p {
  margin: 5px 5px;
}

/* Form End */

/* Background Image Start */

.cat-paw {
  transform: rotate(20deg);
}

/* Background Image End */